# Build
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# App data
data/*.db
data/*.mv.db
data/*.trace.db
*.log

# Java
.jdk/

# Spring Boot
application-local.properties
